body {
  background-color: #303030;
  color: #ffffff;
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 50px;
}

h1 {
  font-size: 72px;
  margin-bottom: 30px;
}

p {
  font-size: 24px;
  margin-bottom: 30px;
}

a {
  color: #ffffff;
  text-decoration: none;
}
