footer {
    display:flex;
    position:fixed;
    bottom:0;
    background-color: rgba(255,0,0,50%);
    width: 100vw;
    height:5vh;
    align-items: center;
    justify-content: center;
    font-weight:bold;
}