header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  margin: 0;
  padding-top: 5vh;
  z-index: 99;
}

.navbar-h1 {
  margin-top: 1vh;
  z-index: 100;
}

#logo-text {
  font-family: "Carattere", cursive;
  color: var(--text-font);
  font-size: 4rem;
  padding: 0;
  user-select: none;
}

.navigation-links {
  list-style: none;
  font-weight: 600;
}

.navigation-links li {
  float: left;
  transition: 200ms ease-in;
  margin: 1rem;
  padding: 0.7rem;
  border-bottom: 2px transparent solid;
}

.navigation-links li:hover {
  padding: 0.7rem;
  color: var(--accent2);
  border-bottom: 2px var(--accent2) solid;
  background-color: #cda1fa21;
}

header a {
  text-decoration: none;
  color: white;
}

.hamburger {
  display: none;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.close-menu {
  height: 40px;
  width: 40px;
  right: 2vw;
  display: none;
  cursor: pointer;
}
