header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  margin: 0;
  padding-top: 5vh;
}

.navbar-h1 {
  margin-top: 1vw;
}

#logo-text {
  font-family: "Carattere", cursive;
  color: var(--text-font);
  font-size: 4rem;
  padding: 0;
  user-select: none;
}

.navigation-links {
  list-style: none;
  font-weight: 600;
}

.navigation-links li {
  float: left;
  margin-left: 2rem;
  margin-right: 2rem;
}
.nav-buttons {
  padding: 0.5rem;
}

header a {
  color: var(--text-font);
  text-decoration: none;
}

.hamburger {
  display: none;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
