main {
    backdrop-filter: blur(10px);
    display:flex;
    justify-content:space-between;
    margin-top:7.5vh;
}

main h1 {
    font-size:1.5rem;
    margin-bottom:1vh;
    margin-top:-6vh;
    margin-bottom:3vh;
}

main p {
    text-shadow: 0 0 3px #233142;
}

.main-element-1 {
    max-width:60vw;
    background-color:rgba(227, 227, 227,5%);
    border-radius:10px;
    padding:10px;
    border: 1px solid rgba(227, 227, 227,20%);
    box-shadow: 5px 5px 10px rgba(35, 49, 66,30%);
    margin-left:3vw;
 }

 .main-element-2 {
    max-width:30vw;
    background-color:rgba(227, 227, 227,5%);
    border-radius:10px;
    padding:10px;
    border: 1px solid rgba(227, 227, 227,20%);
    box-shadow: 5px 5px 10px rgba(35, 49, 66,30%);
    margin-right:5vw;
    height:40vh;
    margin-left:3vw;
 }

hr {
    margin-bottom:1vh;
}