main {
    backdrop-filter: blur(10px);
    display:flex;
    justify-content: center;
    margin-top:10vh;
}

main h1 {
    font-size:1.7rem;
    margin-bottom:1vh;
    margin-top:-6vh;
    margin-bottom:3vh;
    text-shadow: 1px 1px 3px #233142;
}

main p {
    text-shadow: 1px 1px 3px #233142;
    font-size:1.1rem;
}

.main-element-1 {
    max-width:60vw;
    background-color:rgba(227, 227, 227,5%);
    border-radius:10px;
    padding:10px;
    border: 1px solid rgba(227, 227, 227,20%);
    box-shadow: 5px 5px 10px rgba(35, 49, 66,30%);
    max-height:20vh;
 }

 .main-element-2 {
    max-width:30vw;
    background-color:rgba(227, 227, 227,5%);
    border-radius:10px;
    padding:10px;
    border: 1px solid rgba(227, 227, 227,20%);
    box-shadow: 5px 5px 10px rgba(35, 49, 66,30%);
    margin-left:3vw;
 }
