main {
  display: flex;
  margin-top: 10vh;
  flex-wrap: wrap;
}

.main-element {
  max-width: 60vw;
  background-color: rgba(227, 227, 227, 5%);
  border-radius: 10px;
  padding: 2rem;
  border: 1px solid rgba(227, 227, 227, 20%);
  box-shadow: 5px 5px 10px rgba(35, 49, 66, 30%);
  box-sizing: content-box;
}

.main-element:nth-child(even) {
  margin-top: 5vh;
  margin-left:7vw;
  padding:1rem;
}

#landing-page-picture {
  position:absolute;
  margin-left: 50vw;
  width: 27vw;
}

.socials {
  width: 50px;
  height: 50px;
  opacity: 50%;
  fill:red;
}

.socials:hover {
  opacity: 80%;
}

.break {
  width: 100vw;
  border: none;
}

.contact {
  display: table;
  margin-left:auto;
  margin-right:auto;
}
