/* Für Smartphone und sehr schmale Geräte */
@media screen and (max-width: 640px) {
    /* Ab hier beginnt der Header  */

    header {
        justify-content: space-between;
    }
    
    #logo-text {
        font-family: 'Carattere', cursive;
        font-size:3rem;
        padding:0;
    }

    .navigation-links {
        display:none;
    }

    .hamburger {
        display: block;
        margin-right:5vw;
    }
    /* Ab hier beginnt Block Main */
    .main-element {
        max-width:85vw;
        min-width:85vw;
    }

    main h1 {
        font-size:1.3rem;
        text-align:center;
        text-shadow: none;
    }
    main p {
        text-align:center;
        font-size:0.85rem;
        font-weight:600;
        text-shadow: none;
    }
    #landing-page-picture {
        display:none;
    }
  }



  @media screen and (max-width: 768px) {
    /* Ab hier beginnt der Header  */

    header {
        justify-content: space-between;
    }
    
    #logo-text {
        font-family: 'Carattere', cursive;
        font-size:4rem;
        padding:0;
    }

    .navigation-links {
        display:none;
    }

    .hamburger {
        display: block;
        margin-right:5vw;
    }


    /* Ab hier beginnt Block Main */

    .main-element {
        max-width:85vw;
        min-width:85vw;
        vertical-align:center;
    }

    main h1 {
        font-size:1.2rem;
        text-align:center;
        text-shadow: none;
    }

    main p {
        text-align:center;
        font-size:1rem;
        text-shadow: none;
    }

    #landing-page-picture {
        display:none;
    }

    .github {
        display:block;
        margin:auto;
    }
  }

