/* Für Smartphone und sehr schmale Geräte */

@media screen and (max-width: 500px) {

    /* Ab hier beginnt der Header  */

    header {
        justify-content: space-between;
    }
    
    #logo-text {
        font-family: 'Carattere', cursive;
        font-size:3rem;
        padding:0;
    }

    .navigation-links {
        display:none;
    }

    .hamburger {
        display: block;
    }

    /* Ab hier beginnt Block Main */

    .main-element-1 {
            max-width:85vw;
    }

    .main-element-2 {
        max-width:85vw;
}

    main h1 {
        font-size:1.3rem;
        text-align:center;
        text-shadow: none;
    }

    main p {
        text-align:center;
        font-size:0.85rem;
        font-weight:600;
        text-shadow: none;
    }

    #landing-page-picture {
        display:none;
    }


  }

